{% extends 'base.html' %}
{% block title %} The Blob Blog | {{ object.title }} {% endblock   %}
{% block content %}

  <div class="container">
      <div class="row">
        <div class="col-md-8 card my-5">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="card-body">
              <h1>{{ object.title }}</h1>
              <p class="text-muted">{{ object.author }} | {{ object.created_on }}</p>
              <p class="card-text">{{ object.content | safe }}</p>
            </div>
          </form>
        </div>
        {% block sidebar %} 
        {% include 'sidebar.html' %} 
        {% endblock sidebar %}
      </div>
    <a href="{% url 'blog-home' %}" class="btn btn-primary"> &larr; Go Back </a>
    <a href="{% url 'blog-edit' post.pk %}" class="btn btn-info"> Edit Post </a>
    <button onclick="document.getElementById('del_post').style.display='block'" class="btn btn-success"> Delete Post </button>
  </div>

<!-- Modal for delete confirmation -->
<form action="{% url 'blog-delete' post.pk %}" method="POST">
  {% csrf_token %}
  <div id="del_post" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"> Delete Post:  {{ object.title }} </h5>
          </div>
          <div class="modal-body">
            <p> Are you sure you want to delete this post? </p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary"> Delete </button>
            <a href="{% url 'blog-detail' post.pk %}" class="btn btn-secondary"> Cancel </a>
          </div>
        </div>
      </div>
  </div>
</form>
{% endblock content %} 