{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
  <div class="card my-5">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> The Blog Blog App is created using Django Web Framework for backend side, 
        and design using bootswatch/bootstrap theme for UI - you can also check my website ... </p>
      <a href="https://cefbok.github.io/webdevcef/"
        rel="noopener noreferrer" target="_blank"
        class="btn btn-outline-primary"> Visit Website! </a>
    </div>
  </div>
</div>

{% endblock sidebar %}