{% extends 'base.html' %}
{% block title %} The Blob Blog | Edit Post {% endblock   %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id  ==  object.author.id %}
    <div class="position-relative form-group m-5">
        <h1> Edit Post </h1>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="my-5 w-50">
                {{ form.as_p }}
            </div>
            <button class="col-1 mx-auto btn btn-success"> Save </button>
            <a href="{% url 'blog-detail' post.pk %}" class="col-1 mx-auto btn btn-info"> Cancel </a>
        </form>
    </div>
    {% endif%}
{% endif %}

{% endblock %}